openapi: 3.0.0
servers:
    - description: lugeasy API 명세(수정 테스트)
      url: https://api.lugeasy.link/api
info:
    version: 1.0.0
    title: lugeasy-api-docs(수정 테스트)
    description: lugeasy api docs(수정 테스트)
paths:
    /auth/login:
        post:
            summary: 사용자 로그인
            description: 사용자 아이디와 비밀번호 또는 소셜 계정을 통해 로그인하고, 인증 토큰을 발급합니다.
            parameters:
                - in: query
                  name: social_type
                  schema:
                      type: string
                      enum: [google, apple]
            requestBody:
                required: true
                content:
                    application/json:
                        schema:
                            oneOf:
                                - type: object
                                  properties:
                                      id_token:
                                          type: string
                                          description: id_token
                                          example: eyJhbGciOi...
                                      client_id:
                                          type: string
                                          description: client_id
                                          example: eyJhbGciOi...
                                  required:
                                      - id_token
                                      - client_id
                                - type: object
                                  properties:
                                      social_token:
                                          type: string
                                          description: ojoj
                                          example: eyJhbGciOi...
                                  required:
                                      - social_token
            responses:
                "200":
                    description: 로그인 성공
                    content:
                        application/json:
                            schema:
                                type: object
                                properties:
                                    accessToken:
                                        type: string
                                        description: 인증 토큰
                                        example: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9...
                                    refreshToken:
                                        type: string
                                        description: 리프레시 토큰
                                        example: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9...
                "400":
                    description: 잘못된 요청
                    content:
                        application/json:
                            schema:
                                type: object
                                properties:
                                    message:
                                        type: string
                                        description: 에러 메시지
                                        example: social_type 파라미터가 올바르지 않습니다.
                "401":
                    description: 인증 실패
                    content:
                        application/json:
                            schema:
                                type: object
                                properties:
                                    message:
                                        type: string
                                        description: 에러 메시지
                                        example: 소셜 로그인에 실패했습니다.
                "500":
                    description: 서버 에러
                    content:
                        application/json:
                            schema:
                                type: object
                                properties:
                                    message:
                                        type: string
                                        description: 에러 메시지
                                        example: 서버 내부 오류가 발생했습니다.

    /test:
        get:
            summary: 테스트
            description: 테스트
            security:
                - BearerAuth: []
            responses:
                "200":
                    description: 사용자 정보 조회 성공
                    content:
                        application/json:
                            schema:
                                type: object
                                properties:
                                    message:
                                        type: string
                                        description: 단순 메시지
                                        example: hihi
                "401":
                    description: 인증 실패
                    content:
                        application/json:
                            schema:
                                type: object
                                properties:
                                    message:
                                        type: string
                                        description: 에러 메시지
                                        example: 인증이 필요합니다.
                "404":
                    description: 사용자를 찾을 수 없음
                    content:
                        application/json:
                            schema:
                                type: object
                                properties:
                                    message:
                                        type: string
                                        description: 에러 메시지
                                        example: 사용자를 찾을 수 없습니다.
                "500":
                    description: 서버 에러
                    content:
                        application/json:
                            schema:
                                type: object
                                properties:
                                    message:
                                        type: string
                                        description: 에러 메시지
                                        example: 서버 내부 오류가 발생했습니다.

components:
    securitySchemes:
        BearerAuth:
            type: http
            scheme: bearer
            bearerFormat: JWT
